[
    {
        "code": "SMT_4PXSGEC_SZ",
        "name": "SMT_4PX新邮小包_深圳仓",
        "id": 1560
    },
    {
        "code": "SMT_CPOSP+_SZ",
        "name": "SMT_中邮小包+_深圳仓",
        "id": 1562
    },
    {
        "code": "CAINIAO_SUPER_ECONOMY",
        "name": "菜鸟超级经济",
        "id": 1563
    },
    {
        "code": "CAINIAO_CONSOLIDATION_ST",
        "name": "无忧集运-大于5美金",
        "id": 1566
    },
    {
        "code": "CAINIAO_CONSOLIDATION_EC",
        "name": "无忧集运-小于5美金",
        "id": 1567
    },
    {
        "code": "SMT_4PXSGGH_SZ",
        "name": "SMT_4PX新邮挂号_深圳仓",
        "id": 1568
    },
    {
        "code": "SMT_FLGH_SZ",
        "name": "SMT_芬邮挂号_深圳仓",
        "id": 1570
    },
    {
        "code": "SMT_STAM_SZ",
        "name": "SMT_西邮标准小包_深圳仓",
        "id": 1573
    },
    {
        "code": "CAINIAO_STANDARD_FPXSS",
        "name": "SMT_无忧物流_标准",
        "id": 1578
    },
    {
        "code": "CAINIAO_SUPER_ECONOMY_SG",
        "name": "菜鸟特货专线-超级经济",
        "id": 1580
    },
    {
        "code": "CAINIAO_ECONOMY_SG",
        "name": "菜鸟特货专线-简易",
        "id": 1581
    },
    {
        "code": "CAINIAO_ECONOMY_TS_11174375",
        "name": "SMT_无忧物流_简易",
        "id": 1582
    },
    {
        "code": "CAINIAO_PREMIUM_YX",
        "name": "AliExpress无忧物流-优先",
        "id": 1584
    },
    {
        "code": "SpeedPAK-EE",
        "name": "橙联-经济型",
        "id": 1590
    },
    {
        "code": "SpeedPAK-ES",
        "name": "橙联-标准型",
        "id": 1591
    },
    {
        "code": "4XP-GBZX",
        "name": "递四方-联邮通英国经济带电挂号",
        "id": 1602
    },
    {
        "code": "4XP-FRZX",
        "name": "递四方-联邮通法国带电挂号",
        "id": 1603
    },
    {
        "code": "4XP-ITZX",
        "name": "递四方-联邮通意大利带电挂号",
        "id": 1605
    },
    {
        "code": "4XP-DEZX",
        "name": "递四方-联邮通德国专线",
        "id": 1607
    },
    {
        "code": "JOOM_SRM",
        "name": "JOOM_线上简易挂号",
        "id": 1634
    },
    {
        "code": "JOOM_RM",
        "name": "JOOM_线上挂号",
        "id": 1635
    },
    {
        "code": "JOOM_YTNRM",
        "name": "JOOM_线上云途专线平邮",
        "id": 1636
    },
    {
        "code": "JOOM_YTRM",
        "name": "JOOM_线上云途专线挂号",
        "id": 1637
    },
    {
        "code": "JOOM_NRM",
        "name": "JOOM_线上平邮",
        "id": 1638
    },
    {
        "code": "LAZADA-VN",
        "name": "lazada越南",
        "id": 1639
    },
    {
        "code": "LAZADAMY",
        "name": "lazada马来",
        "id": 1640
    },
    {
        "code": "LAZADAIDP",
        "name": "LAZADA印尼普",
        "id": 1641
    },
    {
        "code": "LAZADAPH",
        "name": "LAZADA菲律宾",
        "id": 1642
    },
    {
        "code": "LAZADATH",
        "name": "LAZADA泰国",
        "id": 1643
    },
    {
        "code": "LGS-SG3",
        "name": "LAZADA-SG3",
        "id": 1644
    },
    {
        "code": "LAZADAIDM",
        "name": "LAZADA印尼敏",
        "id": 1646
    },
    {
        "code": "LT-CAPHR",
        "name": "乐天加拿大专线普货",
        "id": 1647
    },
    {
        "code": "LT-CADDR",
        "name": "乐天加拿大专线带电",
        "id": 1648
    },
    {
        "code": "Shopee-SLS",
        "name": "StandardExpress-SLS",
        "id": 1672
    },
    {
        "code": "Shopee-TW-HMZP",
        "name": "圓通-黑貓宅配-台湾",
        "id": 1674
    },
    {
        "code": "Shopee-TW-711",
        "name": "圓通-711超取-台湾",
        "id": 1675
    },
    {
        "code": "Shopee-SLS-MY",
        "name": "SLS-马来西亚",
        "id": 1676
    },
    {
        "code": "Shopee-SLS-SG",
        "name": "SLS-新加坡",
        "id": 1677
    },
    {
        "code": "Shopee-SLS-TH",
        "name": "SLS-泰国",
        "id": 1678
    },
    {
        "code": "Shopee-SLS-PH",
        "name": "SLS-菲律宾",
        "id": 1680
    },
    {
        "code": "Shopee-TW-QJ",
        "name": "圓通-全家超取-台湾",
        "id": 1681
    },
    {
        "code": "Shopee-TW-HM",
        "name": "圆通-黑猫宅配-HDFK",
        "id": 1682
    },
    {
        "code": "Shopee-SLS-VN",
        "name": "SLS-越南",
        "id": 1683
    },
    {
        "code": "Shopee-SLS-ID-NEW",
        "name": "SLS-印度尼西亚-NEW",
        "id": 1684
    },
    {
        "code": "SSBAM",
        "name": "顺速宝平邮",
        "id": 1685
    },
    {
        "code": "SSBRAM",
        "name": "顺速宝挂号",
        "id": 1686
    },
    {
        "code": "SYBAM",
        "name": "顺邮宝平邮",
        "id": 1689
    },
    {
        "code": "SYBRAM",
        "name": "顺邮宝挂号",
        "id": 1690
    },
    {
        "code": "SYBPL",
        "name": "顺邮宝+平邮",
        "id": 1692
    },
    {
        "code": "SYBRPL",
        "name": "顺邮宝挂号+",
        "id": 1693
    },
    {
        "code": "USPSFC",
        "name": "美国订单宝USPS-小包裹",
        "id": 1727
    },
    {
        "code": "WPPY-SZ",
        "name": "wish邮-sz",
        "id": 1739
    },
    {
        "code": "WPPY-TYPYT",
        "name": "wish邮-通邮平邮特货",
        "id": 1755
    },
    {
        "code": "WPPY-4XP-USZX",
        "name": "wish邮-4XP-美国专线",
        "id": 1765
    },
    {
        "code": "YWDEGH",
        "name": "燕文德国邮政小包挂号(香港不含电)",
        "id": 1785
    },
    {
        "code": "YWZZX_P",
        "name": "燕文航空专线追踪小包-普货",
        "id": 1794
    },
    {
        "code": "YWZZX_T",
        "name": "燕文航空专线追踪小包-带电",
        "id": 1795
    },
    {
        "code": "CNPY",
        "name": "待处理",
        "id": 1829
    },
    {
        "code": "CNGH",
        "name": "待处理物流方式",
        "id": 1830
    },
    {
        "code": "SMTGH",
        "name": "速卖通挂号",
        "id": 1850
    },
    {
        "code": "SMTGH-D",
        "name": "速卖通挂号(电)（50+16.3）",
        "id": 1851
    },
    {
        "code": "SMTGH2",
        "name": "速卖通挂号2",
        "id": 1852
    },
    {
        "code": "SMTGH72",
        "name": "速卖通挂号（76+15)",
        "id": 1853
    },
    {
        "code": "SMTPY",
        "name": "速卖通平邮92（30g首重）",
        "id": 1854
    },
    {
        "code": "SMTPY133",
        "name": "速卖通平邮（133含30g首重）",
        "id": 1855
    },
    {
        "code": "SMTPY92",
        "name": "速卖通平邮92(无首重)",
        "id": 1856
    },
    {
        "code": "SMTPY71",
        "name": "速卖通平邮(无首重71RMB算价)",
        "id": 1857
    },
    {
        "code": "SMTPY93+4.9",
        "name": "速卖通平邮速卖通(93+4.9)",
        "id": 1858
    },
    {
        "code": "SMTPY95",
        "name": "速卖通平邮95(无首重)",
        "id": 1859
    },
    {
        "code": "JOOM-45+25",
        "name": "JOOM线上法国挂号45+25",
        "id": 1860
    },
    {
        "code": "JOOM-54+21",
        "name": "JOOM算运费54+21",
        "id": 1861
    },
    {
        "code": "JOOM-84.6+5.6",
        "name": "JOOM线上德国平邮84.6+5.6",
        "id": 1862
    },
    {
        "code": "JOOM-PY200",
        "name": "JOOM俄罗斯顺邮宝",
        "id": 1863
    },
    {
        "code": "SMT76+10",
        "name": "速卖通76+10",
        "id": 1865
    },
    {
        "code": "CAINIAO_EXPEDITED_ECONOMY",
        "name": "菜鸟专线经济",
        "id": 1866
    },
    {
        "code": "SMTPY104",
        "name": "速卖通平邮104 (无首重)",
        "id": 1882
    },
    {
        "code": "CAINIAO_STANDARD_SG",
        "name": "菜鸟特货专线-标准",
        "id": 1884
    },
    {
        "code": "WPPY-EUZXR",
        "name": "wish邮-云途中欧专线挂号",
        "id": 1895
    },
    {
        "code": "WPPY-USZXR",
        "name": "wish邮-云途中美专线挂号",
        "id": 1896
    },
    {
        "code": "WPPY-SYTPY",
        "name": "wish邮-顺友通平邮",
        "id": 1942
    },
    {
        "code": "JOOM_JHGH",
        "name": "JOOM_线上挂号智利",
        "id": 1944
    },
    {
        "code": "SMTGH40+12",
        "name": "速卖通挂号40+12",
        "id": 1946
    },
    {
        "code": "SMTGH60A+13",
        "name": "速卖通挂号60+13",
        "id": 1947
    },
    {
        "code": "JOOM_MGNRM",
        "name": "JOOM_线上平邮敏感货",
        "id": 1951
    },
    {
        "code": "JOOM_MGRM",
        "name": "JOOM_线上挂号敏感货",
        "id": 1952
    },
    {
        "code": "MALL_EUNRM",
        "name": "MALL_线上欧洲专线平邮",
        "id": 1953
    },
    {
        "code": "SMTPY50A6",
        "name": "速卖通平邮50A6",
        "id": 1975
    },
    {
        "code": "SMTPY50",
        "name": "速卖通平邮50无首重",
        "id": 1983
    },
    {
        "code": "THZXUP_D",
        "name": "云途平邮（带电）",
        "id": 1984
    },
    {
        "code": "THZXR_D",
        "name": "云途挂号（带电）",
        "id": 1985
    },
    {
        "code": "THPHR_P",
        "name": "云途挂号（普货）",
        "id": 1986
    },
    {
        "code": "THPHU_P",
        "name": "云途平邮（普货）",
        "id": 1987
    },
    {
        "code": "SpeedPAK-ESD",
        "name": "橙联-标准型带电",
        "id": 2018
    },
    {
        "code": "EMS_NEW",
        "name": "EMS新",
        "id": 2028
    },
    {
        "code": "SZCNPY_NEW",
        "name": "深圳中邮平邮新",
        "id": 2029
    },
    {
        "code": "NJPY",
        "name": "线下南京平邮",
        "id": 2031
    },
    {
        "code": "SZCNGH_NEW",
        "name": "深圳中邮挂号新",
        "id": 2033
    },
    {
        "code": "SMT-CNPY",
        "name": "速卖通俄韩西兜底",
        "id": 2034
    },
    {
        "code": "WPPY-YTCAR",
        "name": "Wish邮云途加拿大挂号",
        "id": 2037
    },
    {
        "code": "WPPY-EUZXA",
        "name": "Wish邮-云途中欧专线平邮",
        "id": 2042
    },
    {
        "code": "WPPY-YWZXPY",
        "name": "Wish燕文专线平邮小包-普货",
        "id": 2043
    },
    {
        "code": "OFFLINE_EUB_SZ_NEW",
        "name": "线下EUB深圳新",
        "id": 2059
    },
    {
        "code": "CAINIAO_STANDARD_HEAVY_FPXSS",
        "name": "菜鸟大包专线",
        "id": 2072
    },
    {
        "code": "BEIJING-CNPY",
        "name": "速卖通北京安检问题",
        "id": 2080
    },
    {
        "code": "SMTPY60",
        "name": "速卖通60无首重",
        "id": 2081
    },
    {
        "code": "SMTPY60+3",
        "name": "SMTPY60+3",
        "id": 2082
    },
    {
        "code": "SYAET",
        "name": "菜鸟-顺友特货专线平邮",
        "id": 2088
    },
    {
        "code": "SYAER",
        "name": "菜鸟-顺友特货专线挂号",
        "id": 2090
    },
    {
        "code": "ZOOD_MALL_PY",
        "name": "可为易达平邮",
        "id": 2092
    },
    {
        "code": "ZOOD_MALL_GH",
        "name": "可为易达挂号",
        "id": 2093
    },
    {
        "code": "WPPY-YTK",
        "name": "wish邮-燕特快",
        "id": 2095
    },
    {
        "code": "WPPY-YTKT",
        "name": "wish邮燕特快-带电",
        "id": 2096
    },
    {
        "code": "WPPY-AUZXR",
        "name": "wish-云途澳洲专线",
        "id": 2099
    },
    {
        "code": "WPPY-SYTGH",
        "name": "WISH-顺友通挂号",
        "id": 2100
    },
    {
        "code": "Cainiao Expedited Standard",
        "name": "菜鸟专线标准",
        "id": 2101
    },
    {
        "code": "Shopee-SLS-BR",
        "name": "Shopee-SLS-巴西",
        "id": 2106
    },
    {
        "code": "ZZCNPY",
        "name": "线下郑州平邮",
        "id": 2108
    },
    {
        "code": "SMTPY80+1",
        "name": "SMTPY80+1",
        "id": 2109
    },
    {
        "code": "SMTPY33+3.5",
        "name": "SMTPY33+3.5",
        "id": 2110
    },
    {
        "code": "SMTPY50+4",
        "name": "SMTPY50+4",
        "id": 2111
    },
    {
        "code": "SMTGH48+14.8",
        "name": "SMTGH48+14.8",
        "id": 2112
    },
    {
        "code": "Heavy-Shopee-SLS--SG",
        "name": "SLS-SG重货渠道",
        "id": 2131
    },
    {
        "code": "jiujing-PY",
        "name": "洗手液含酒精平邮",
        "id": 2137
    },
    {
        "code": "SMTPGH50A15",
        "name": "速卖通50+15",
        "id": 2143
    },
    {
        "code": "WPPY-YWZXT",
        "name": "wish-燕文专线追踪小包特货",
        "id": 2144
    },
    {
        "code": "4XP-4XPPY",
        "name": "4XP平邮算价专用",
        "id": 2148
    },
    {
        "code": "SMTPY1A0",
        "name": "SMTPY1A0",
        "id": 2150
    },
    {
        "code": "SMTJYGH97A5",
        "name": "速卖通简易挂号非电97A5",
        "id": 2152
    },
    {
        "code": "SMTJYGHD118A6.3",
        "name": "速卖通简易挂号非电118A6.3",
        "id": 2153
    },
    {
        "code": "SMTJYBR",
        "name": "速卖通集运巴西",
        "id": 2154
    },
    {
        "code": "SMTJYSAO",
        "name": "速卖通集运沙特大5",
        "id": 2155
    },
    {
        "code": "SMTJYSA",
        "name": "速卖通集运沙特小5",
        "id": 2156
    },
    {
        "code": "SMTJYAEO",
        "name": "速卖通集运阿联酋大5",
        "id": 2157
    },
    {
        "code": "SMTJYAE",
        "name": "速卖通集运阿联酋小5",
        "id": 2158
    },
    {
        "code": "Deppon",
        "name": "德邦快递",
        "id": 2161
    },
    {
        "code": "4XP-USZX",
        "name": "递四方-联邮通美国专线",
        "id": 2163
    },
    {
        "code": "WYBZ-TH",
        "name": "无忧标准特货带电",
        "id": 2166
    },
    {
        "code": "4XP-ESZX",
        "name": "递四方-西班牙联邮通挂号",
        "id": 2170
    },
    {
        "code": "WPPY-AIECT",
        "name": "Wish邮智选挂号-美国",
        "id": 2175
    },
    {
        "code": "WPPY-4XP-FRZX",
        "name": "wish邮-4XP-法国专线",
        "id": 2176
    },
    {
        "code": "SMT-WYBZDB",
        "name": "SMT_无忧物流_标准大包",
        "id": 2177
    },
    {
        "code": "4XP-KZR",
        "name": "4XP-英国皇邮专线",
        "id": 2194
    },
    {
        "code": "WishPost-EPC-YW",
        "name": "WishPost-EPC燕文",
        "id": 2201
    },
    {
        "code": "WPPY-A+YWPY",
        "name": "WISH-A+平邮燕文揽收",
        "id": 2203
    },
    {
        "code": "WPPY-A+YWGH",
        "name": "WPPY-A+挂号燕文揽收",
        "id": 2204
    },
    {
        "code": "WPPY-ZXYWP",
        "name": "WPPY-燕文智选平邮普货",
        "id": 2205
    },
    {
        "code": "WPPY-ZXYWT",
        "name": "wish-燕文智选平邮带电",
        "id": 2206
    },
    {
        "code": "WPPY-ZXYWGH",
        "name": "wish-燕文智选挂号",
        "id": 2207
    },
    {
        "code": "WPPY-TYGH",
        "name": "WISH-通邮挂号特货",
        "id": 2210
    },
    {
        "code": "HYTPY",
        "name": "华邮通-平邮特货",
        "id": 2214
    },
    {
        "code": "WB-DQGH",
        "name": "万邦-欧洲专线带电",
        "id": 2223
    },
    {
        "code": "shopee-TW-LEF",
        "name": "shopee-TW-LEF",
        "id": 2226
    },
    {
        "code": "YT-USPHR",
        "name": "云途美国普货挂号",
        "id": 2237
    },
    {
        "code": "WPPY-YWGHT",
        "name": "WISH燕文航空挂号小包-带电",
        "id": 2240
    },
    {
        "code": "TY-JPZX",
        "name": "通邮-日本专线特货",
        "id": 2250
    },
    {
        "code": "FTAET",
        "name": "飞特AE特货经济",
        "id": 2256
    },
    {
        "code": "LT-CATHR",
        "name": "乐天-加拿大特货渠道",
        "id": 2260
    },
    {
        "code": "TYAET",
        "name": "通邮-AE特货平邮",
        "id": 2272
    },
    {
        "code": "TYAER",
        "name": "通邮-AE特货挂号",
        "id": 2274
    },
    {
        "code": "TY-EBPYT",
        "name": "通邮-EBAY经济",
        "id": 2276
    },
    {
        "code": "TY-EBGHT",
        "name": "通邮-EBAY挂号",
        "id": 2277
    },
    {
        "code": "4XP-SJ",
        "name": "4XP-国际算价专用",
        "id": 2285
    },
    {
        "code": "SMT-40PY",
        "name": "40平邮无首重",
        "id": 2288
    },
    {
        "code": "WG-CNPYT",
        "name": "万国-中邮平邮特货",
        "id": 2296
    },
    {
        "code": "WG-CNGHT",
        "name": "万国-中邮挂号特货",
        "id": 2297
    },
    {
        "code": "AliExpress Saver Shipping-DD",
        "name": "AliExpress无忧物流-简易带电",
        "id": 2299
    },
    {
        "code": "SpeedPAK-SE",
        "name": "橙联经济-轻小件",
        "id": 2300
    },
    {
        "code": "TH SLS Heavy",
        "name": "TH SLS 重货",
        "id": 2305
    },
    {
        "code": "Ali-express",
        "name": "货运公司上门提取",
        "id": 2320
    },
    {
        "code": "WG-ZHEUB",
        "name": "万国-珠海EUB特货",
        "id": 2325
    },
    {
        "code": "TH-PHSJ",
        "name": "泰国普货小包算价",
        "id": 2330
    },
    {
        "code": "TH-MGSJ",
        "name": "泰国特货小包算价",
        "id": 2331
    },
    {
        "code": "4XP-GBYX",
        "name": "递四方-英国优先挂号",
        "id": 2333
    },
    {
        "code": "SGD-EMS",
        "name": "新加坡EMS",
        "id": 2338
    },
    {
        "code": "GLOBAL-SJ",
        "name": "菜鸟超级经济global算价",
        "id": 2342
    },
    {
        "code": "CJJJTH-SJ",
        "name": "菜鸟特货超级经济算价",
        "id": 2343
    },
    {
        "code": "CJJJSY-SJ",
        "name": "菜鸟超级经济-顺友算价",
        "id": 2344
    },
    {
        "code": "CJJJYW-SJ",
        "name": "菜鸟超级经济-燕文算价",
        "id": 2345
    },
    {
        "code": "SMTCNPY-SJ",
        "name": "中邮小包+平邮算价",
        "id": 2346
    },
    {
        "code": "WYBZPH-SJ",
        "name": "无忧标准普货-算价",
        "id": 2348
    },
    {
        "code": "WYBZDD-SJ",
        "name": "无忧标准带电-算价",
        "id": 2349
    },
    {
        "code": "THBZ-SJ",
        "name": "菜鸟特货标准-算价",
        "id": 2350
    },
    {
        "code": "YWGH-SJ",
        "name": "燕文航空挂号小包-算价",
        "id": 2351
    },
    {
        "code": "SMT-WYBZDBT",
        "name": "无忧标准大包-特货",
        "id": 2362
    },
    {
        "code": "BXD",
        "name": "巴西达",
        "id": 2365
    },
    {
        "code": "Shopee-SLS-MX",
        "name": "SLS-墨西哥",
        "id": 2368
    },
    {
        "code": "4XP-GBDER",
        "name": "递四方-普货经济挂号",
        "id": 2372
    },
    {
        "code": "JNET-KZGH",
        "name": "捷网-哈特货纯电",
        "id": 2377
    },
    {
        "code": "YW-HXPHR",
        "name": "燕文专线惠选-普货",
        "id": 2380
    },
    {
        "code": "YXstandard shipping",
        "name": "YXstandard shipping",
        "id": 2383
    },
    {
        "code": "4XP-ITPHR",
        "name": "递四方-意大利普货挂号",
        "id": 2384
    },
    {
        "code": "SMT-45PY",
        "name": "45平邮无首重",
        "id": 2386
    },
    {
        "code": "SMT-55PY",
        "name": "55平邮无首重",
        "id": 2387
    },
    {
        "code": "4XP-KRDDR",
        "name": "递四方-联邮通韩国挂号",
        "id": 2389
    },
    {
        "code": "4XP-ITYX",
        "name": "递四方-意大利普货优先",
        "id": 2392
    },
    {
        "code": "WPPY-4XP-GBZX",
        "name": "wish-4xp英国挂号",
        "id": 2394
    },
    {
        "code": "Shopee-SLS-MY-Sea Shipping",
        "name": "SLS-马来西亚海运",
        "id": 2396
    },
    {
        "code": "MCD-BR",
        "name": "美客多-巴西达",
        "id": 2401
    },
    {
        "code": "CKY-USKX",
        "name": "出口易-美国快线普货",
        "id": 2403
    },
    {
        "code": "CKY-USKXD",
        "name": "出口易-美国快线带电",
        "id": 2404
    },
    {
        "code": "Shopee-SLS-CL",
        "name": "SLS-智利",
        "id": 2406
    },
    {
        "code": "Shopee-SLS-CO",
        "name": "SLS-哥伦比亚",
        "id": 2407
    },
    {
        "code": "FS-UPS",
        "name": "丰实UPS",
        "id": 2408
    },
    {
        "code": "YT-MGZXR",
        "name": "云途-化妆品专线挂号",
        "id": 2409
    },
    {
        "code": "HH-ZXGH",
        "name": "华翰-特货专线挂号",
        "id": 2411
    },
    {
        "code": "WPPY-SYEUGH",
        "name": "WISH-顺友欧洲快速专线",
        "id": 2412
    },
    {
        "code": "MCD-Mail",
        "name": "美客多-美邮收货",
        "id": 2415
    },
    {
        "code": "Vnlin-AER",
        "name": "合联-阿联酋专线挂号",
        "id": 2416
    },
    {
        "code": "GT001",
        "name": "冠通算价1",
        "id": 2418
    },
    {
        "code": "MCD-360lion",
        "name": "美客多-纬狮",
        "id": 2419
    },
    {
        "code": "Cainiao-SGBK",
        "name": "菜鸟特货专线-标快",
        "id": 2420
    },
    {
        "code": "BT-BRDDU",
        "name": "巴通-巴西DDU",
        "id": 2421
    },
    {
        "code": "BT-BRDDP",
        "name": "巴通-巴西DDP电商小包",
        "id": 2422
    },
    {
        "code": "SMT_YANWEN_GH",
        "name": "SMT燕文航空挂号小包",
        "id": 2423
    },
    {
        "code": "SMT_YANWEN_ECONOMY",
        "name": "菜鸟超级经济-燕文",
        "id": 2424
    },
    {
        "code": "SMT_SUNYOU_ECONOMY",
        "name": "菜鸟超级经济-顺友",
        "id": 2425
    },
    {
        "code": "BT-PY",
        "name": "中邮平邮-虚假发货",
        "id": 2426
    },
    {
        "code": "BT-GH",
        "name": "中邮挂号-虚假发货",
        "id": 2427
    },
    {
        "code": "SMT_SUPER_ECONOMY_Global",
        "name": "菜鸟超级经济-Global",
        "id": 2428
    },
    {
        "code": "JNET-ILZXR",
        "name": "捷网-以色列普货专线",
        "id": 2433
    },
    {
        "code": "JNET-ILZXD",
        "name": "捷网-以色列带电专线",
        "id": 2434
    },
    {
        "code": "4PX-YXPHR",
        "name": "4PX-优先普货挂号",
        "id": 2438
    },
    {
        "code": "JNET-ILDBR",
        "name": "捷网-以色列大包",
        "id": 2440
    },
    {
        "code": "Shopee-SLS-PL",
        "name": "SLS-波兰",
        "id": 2447
    },
    {
        "code": "SMTYXC",
        "name": "优选仓",
        "id": 2452
    },
    {
        "code": "Shopee-SLS-ES",
        "name": "SLS-西班牙",
        "id": 2453
    },
    {
        "code": "Shopee-SLS-FR",
        "name": "SLS-法国",
        "id": 2454
    },
    {
        "code": "TY-USCDZX",
        "name": "通邮-纯电刀具挂号",
        "id": 2461
    },
    {
        "code": "B2W-WS",
        "name": "B2W-纬狮",
        "id": 2464
    },
    {
        "code": "WPPY-YWYRT",
        "name": "Wishpost - 燕文航空易派小包-特货",
        "id": 2466
    },
    {
        "code": "CN_OVERSEA_GD_RU",
        "name": "俄罗斯海外仓 承诺达GD",
        "id": 2468
    },
    {
        "code": "CN_OVERSEA_OD_RU",
        "name": "俄罗斯海外仓 承诺达OD",
        "id": 2470
    },
    {
        "code": "Fanno",
        "name": "Fanno线上物流",
        "id": 2471
    },
    {
        "code": "WS-BRDDU",
        "name": "纬狮-巴西邮政DDU",
        "id": 2473
    },
    {
        "code": "4XP-FRYX",
        "name": "递四方-法国优先带电",
        "id": 2476
    },
    {
        "code": "AZonline",
        "name": "亚马逊线上物流",
        "id": 2477
    },
    {
        "code": "CGF Lite",
        "name": "CGF Lite-历史数据",
        "id": 2489
    },
    {
        "code": "WG-USCDZX",
        "name": "万国-美国纯电",
        "id": 2495
    },
    {
        "code": "WG-USTHZX",
        "name": "万国-美国小包特货",
        "id": 2498
    },
    {
        "code": "WG-EUTHZX",
        "name": "万国-美国刀具电子烟特货",
        "id": 2500
    },
    {
        "code": "YDPHR",
        "name": "义达-欧美普货专线",
        "id": 2502
    },
    {
        "code": "YDGBR",
        "name": "义达-英国普货专线",
        "id": 2503
    },
    {
        "code": "YD-JPRHR",
        "name": "义达-日本普货专线",
        "id": 2506
    },
    {
        "code": "YD-JPDDR",
        "name": "义达-日本带电专线",
        "id": 2507
    },
    {
        "code": "YDECR",
        "name": "义达-经济专线挂号",
        "id": 2508
    },
    {
        "code": "HH-MGZXR",
        "name": "华翰-敏感货专线",
        "id": 2509
    },
    {
        "code": "SYEPL",
        "name": "顺友纯电挂号",
        "id": 2510
    },
    {
        "code": "SMTYXC_RU",
        "name": "优选仓-俄罗斯",
        "id": 2513
    },
    {
        "code": "LD-RUZX",
        "name": "立德-俄罗斯特价航空到门",
        "id": 2514
    },
    {
        "code": "CN_OVERSEA_GD_RU_PROV",
        "name": "俄罗斯海外仓承诺达",
        "id": 2515
    },
    {
        "code": "CJJJ-SJ",
        "name": "菜鸟超级经济算价",
        "id": 2518
    },
    {
        "code": "JYPH-SJ",
        "name": "简易普货-算价",
        "id": 2519
    },
    {
        "code": "JYDD-SJ",
        "name": "简易带电-算价",
        "id": 2520
    },
    {
        "code": "SMTSG-SJ",
        "name": "4PX新邮挂号-算价",
        "id": 2521
    },
    {
        "code": "THJY-SJ",
        "name": "特货简易-算价",
        "id": 2522
    },
    {
        "code": "ZXJJ-SJ",
        "name": "专线经济-算价",
        "id": 2523
    },
    {
        "code": "HLPHR",
        "name": "航乐普货专线",
        "id": 2524
    },
    {
        "code": "HLDDR",
        "name": "航乐带电专线",
        "id": 2525
    },
    {
        "code": "4PX-ECDDR",
        "name": "递四方-经济带电挂号",
        "id": 2526
    },
    {
        "code": "ZOODMALL_ZW",
        "name": "中乌物流",
        "id": 2527
    },
    {
        "code": "CAINIAO_ECDD",
        "name": "菜鸟超级经济带电",
        "id": 2528
    },
    {
        "code": "YD-ECDDR",
        "name": "义达-经济带电挂号",
        "id": 2529
    },
    {
        "code": "LD-RUZT",
        "name": "立德-俄罗斯特价自提",
        "id": 2530
    },
    {
        "code": "4PX-ESPHR",
        "name": "递四方-西班牙普货挂号",
        "id": 2531
    },
    {
        "code": "YL-KRZX",
        "name": "易连-韩国空派普货",
        "id": 2532
    },
    {
        "code": "LD-RULT",
        "name": "立德-俄陆运带电到门",
        "id": 2534
    },
    {
        "code": "LD-RULT2",
        "name": "立德-陆运带电重货到门",
        "id": 2535
    },
    {
        "code": "LD-RUPT",
        "name": "立德-俄陆运偏远带电全重量段",
        "id": 2536
    },
    {
        "code": "SY-USHP",
        "name": "顺友-美国海运小包",
        "id": 2537
    },
    {
        "code": "YL-KRDD",
        "name": "易连-韩国带电",
        "id": 2540
    },
    {
        "code": "YL-THCD",
        "name": "易连-海运特货纯电无PCC",
        "id": 2541
    },
    {
        "code": "WPPY-LTCATHR",
        "name": "wish-乐天加拿大特货挂号",
        "id": 2547
    },
    {
        "code": "LD-PTDMPH",
        "name": "立德-偏远到门普货",
        "id": 2550
    },
    {
        "code": "SMTYXC_JB",
        "name": "优选仓集包",
        "id": 2551
    },
    {
        "code": "ODN-USKX",
        "name": "欧丹尼-美国快线普货",
        "id": 2552
    },
    {
        "code": "LD-RUEUB",
        "name": "立德-EUB带电",
        "id": 2553
    },
    {
        "code": "ODN-JPEUB",
        "name": "欧丹尼-日本EUB",
        "id": 2554
    },
    {
        "code": "LT-CAEUB",
        "name": "乐天-CAEUB普货",
        "id": 2556
    },
    {
        "code": "ODN-EUBT",
        "name": "欧丹尼-EUB带电",
        "id": 2558
    },
    {
        "code": "ODN-JYGH",
        "name": "欧丹尼-简易挂号",
        "id": 2563
    },
    {
        "code": "NOCNOC",
        "name": "nocnoc线上",
        "id": 2567
    },
    {
        "code": "EBAY-AUSJ",
        "name": "ebay澳洲平邮算价",
        "id": 2571
    },
    {
        "code": "ODN-USPY",
        "name": "欧丹尼-美国平邮",
        "id": 2572
    },
    {
        "code": "JNET-RUTHR",
        "name": "捷网-俄纯电刀具",
        "id": 2575
    },
    {
        "code": "YL-KRHY",
        "name": "易连-海运特货纯电有PCC",
        "id": 2576
    },
    {
        "code": "XNC-SJ",
        "name": "虚拟仓-算价",
        "id": 2577
    },
    {
        "code": "WG-USPHR",
        "name": "万国-美国普货挂号",
        "id": 2578
    },
    {
        "code": "YD-USECR",
        "name": "义达-美国经济挂号普货",
        "id": 2579
    },
    {
        "code": "SFC-ZXPHR",
        "name": "三态-专线普货挂号",
        "id": 2580
    },
    {
        "code": "SFC-ZDZXR",
        "name": "三态-中东专线",
        "id": 2581
    },
    {
        "code": "WPPY-SYCD",
        "name": "WISH-顺友纯电",
        "id": 2583
    },
    {
        "code": "AliExpress Selection Super Economy for Korea",
        "name": "优选仓-韩国经济专线",
        "id": 2584
    },
    {
        "code": "4PX-USECR",
        "name": "递四方-联邮通美国普货经济挂号",
        "id": 2585
    },
    {
        "code": "FT-ECPYT",
        "name": "飞特-EBAY经济平邮特货",
        "id": 2592
    },
    {
        "code": "FT-ESBRM",
        "name": "飞特-专线挂号普货",
        "id": 2594
    },
    {
        "code": "HBS",
        "name": "贺佰狮线上物流",
        "id": 2595
    },
    {
        "code": "ODN-USKXD",
        "name": "欧丹尼-美国快线带电特货",
        "id": 2596
    },
    {
        "code": "CKY-USKXT",
        "name": "出口易-美国快线特货",
        "id": 2599
    },
    {
        "code": "CGF Lite-SDS",
        "name": "CGF Lite-SDS仓",
        "id": 2600
    },
    {
        "code": "CGF Lite-Hongxin",
        "name": "CGF Lite-泓信仓",
        "id": 2602
    },
    {
        "code": "CGF LITE-Angli",
        "name": "CGF LITE-昂黎仓",
        "id": 2603
    },
    {
        "code": "HH-DZYGH",
        "name": "华翰-电子烟",
        "id": 2604
    },
    {
        "code": "HH-DJGH",
        "name": "华翰-刀具挂号",
        "id": 2605
    },
    {
        "code": "JNET-ILCD",
        "name": "捷网-以色列纯电",
        "id": 2607
    },
    {
        "code": "SFC-ZXDDR",
        "name": "三态-专线带电",
        "id": 2608
    },
    {
        "code": "FLT-UPS",
        "name": "富路通-UPS快递大货",
        "id": 2610
    },
    {
        "code": "FLT-FEDEX",
        "name": "富路通-联邦",
        "id": 2612
    },
    {
        "code": "OZON-1",
        "name": "ozon菜鸟暂用",
        "id": 2613
    },
    {
        "code": "4PX-DHL",
        "name": "递四方-DHL",
        "id": 2615
    },
    {
        "code": "FEDEX-IP",
        "name": "递四方-香港联邦IP",
        "id": 2617
    },
    {
        "code": "4PX-UPS",
        "name": "递四方-UPS",
        "id": 2619
    },
    {
        "code": "4PX-CNEMS",
        "name": "递四方-中国EMS",
        "id": 2621
    },
    {
        "code": "SGBK-SJ",
        "name": "菜鸟特货标快-算价",
        "id": 2622
    },
    {
        "code": "OZON-cainiao",
        "name": "OZON菜鸟渠道",
        "id": 2623
    },
    {
        "code": "nocnoc-2",
        "name": "nocnoc-2号仓",
        "id": 2624
    },
    {
        "code": "WPPY-EQDDR",
        "name": "wish-EQ带电挂号",
        "id": 2625
    },
    {
        "code": "CGF LITE-DGAL",
        "name": "CGF LITE-东莞昂黎仓库",
        "id": 2629
    },
    {
        "code": "WPPY-A+YWPYD",
        "name": "WISH-A+平邮带电燕文揽收",
        "id": 2631
    },
    {
        "code": "4PX-UPS-TH",
        "name": "递四方-UPS特货",
        "id": 2632
    },
    {
        "code": "WPPY-A+YWPYT",
        "name": "WISH-A+平邮特货燕文揽收",
        "id": 2633
    },
    {
        "code": "CNE-ECPHR",
        "name": "CNE-全球经济挂号普货",
        "id": 2636
    },
    {
        "code": "MCD-Anjun",
        "name": "美客多-安骏揽收",
        "id": 2637
    },
    {
        "code": "17fei-EUMGR",
        "name": "17fei-欧洲超长特敏感",
        "id": 2639
    },
    {
        "code": "17fei-USMGR",
        "name": "17fei-美国特敏感",
        "id": 2640
    },
    {
        "code": "17fei-GBMGR",
        "name": "17fei-英国超长特敏感",
        "id": 2641
    },
    {
        "code": "WPPY-A+YWGHD",
        "name": "WPPY-A+YWGHD",
        "id": 2642
    },
    {
        "code": "WPPY-A+YWGHT",
        "name": "WPPY-A+YWGHT",
        "id": 2643
    },
    {
        "code": "Saicheng-USAIRSC",
        "name": "赛诚美国空运专线",
        "id": 2644
    },
    {
        "code": "ODN-USPHR",
        "name": "欧丹尼-美国普货专线",
        "id": 2652
    },
    {
        "code": "OZON-XYLY",
        "name": "OZON-兴远陆运送货",
        "id": 2654
    },
    {
        "code": "OZON-XYKYZT",
        "name": "OZON-兴远空运自提",
        "id": 2655
    },
    {
        "code": "NOCNOC-mail",
        "name": "NOCNOC-美邮揽收",
        "id": 2657
    },
    {
        "code": "nocnoc-anjun",
        "name": "nocnoc-安骏揽收",
        "id": 2658
    },
    {
        "code": "GC-USMDR",
        "name": "谷仓-美东仓USPS小包",
        "id": 2660
    },
    {
        "code": "WG-DHL",
        "name": "万国-DHL",
        "id": 2667
    },
    {
        "code": "ODN-CNEMS",
        "name": "欧丹尼-中国EMS",
        "id": 2668
    },
    {
        "code": "SC-USKXT",
        "name": "赛诚-美国快线特货",
        "id": 2670
    },
    {
        "code": "WB-USKXD",
        "name": "万邦-美国快线带电",
        "id": 2673
    },
    {
        "code": "GC-MDUPS",
        "name": "GC-UPS_SUREPOST",
        "id": 2674
    },
    {
        "code": "GC-MDDHL1",
        "name": "谷仓-美东DHL本地小包",
        "id": 2675
    },
    {
        "code": "GC-MDDHL2",
        "name": "谷仓-美东DHL本地大包",
        "id": 2676
    },
    {
        "code": "MX-YXOGH",
        "name": "MX-YXOGH",
        "id": 2677
    }
]